.dn-app {
  .dn-drag-source {
    .dn-drag-source-item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      width: 100%;
      border: none;
      font-size: 14px;

      .dn-icon {
        margin: 0px 12px 0px 16px !important;
        font-size: 40px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}
